.site-footer {
    background: $gray;
    color: $lightergray;
    margin-top: 37px;
    #top-button {
        @include center-block;
        position: relative;
        top: -37px;
    }
    a {
        color: $lightergray;
    }
}

.site-info {
    text-align: center;
    margin-top: -30px;
    padding-bottom: 30px;
    h1, h2, h3, h4, h5, h6 {
        color: $lightergray;
    }
    h2 {
        background: url('images/partners-back.png') no-repeat center center;
    }
    .wpcf7 {
        margin: 30px auto;
    }
    .wpcf7-submit {
        background: $lightergray;
        color: $gray;
        font-size: 1rem;
    }
    .wpcf7-text {
        background: transparent;
        padding-left: 1em;
    }
    p {
        a{
          i {
            font-size: 1.3rem;
            margin-right: .6em;
            }
          &:last-of-type i {
                margin-right: 0;
            }
           }
    }
}

#footer-logo {
    @include center-block;
}

html {
    background: url('images/back-html.png') repeat-x center bottom;
}

::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f0e0  '; color: $lightergray }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: $lightergray } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: $lightergray } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f0e0  '; color: $lightergray }

