.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.arrow-left-thumb {
    background: $darkwhite;
    .thumbnail {
        position: relative;
        span {
            position: absolute;
            right: 0;
            top: 65px;
            width: 47px;
            height: 77px;
            background: url('images/arrow-left-white.png') no-repeat left top;
            z-index: 10;
        }  
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.arrow-right-thumb {
    background: $darkwhite;
    .thumbnail {
        position: relative;
        span {
            position: absolute;
            left: 0;
            top: 65px;
            width: 47px;
            height: 104px;
            background: url('images/arrow-right-white.png') no-repeat right top;
            z-index: 10;
        }  
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.project-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        width: 50%;
        float: left;
        height: 160px;
    }
    h4 {
        font-size: 18px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        a {
            color: $gray;
            text-decoration: none;
        }
    }
    p {
        margin-top: 0;
        padding-top: 5px;
        font-size: .8em;
    }
}

.features-list {
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            background: url('images/icon-check-buble.png') no-repeat left 2px;
            padding: 0 0 1em 26px;
            font-size: .9em;
        }
    }
}

.homepage {
    padding: 45px 0;
    .home-text {
        padding: 1em 3em;
       h1 {
           text-align: center;
       };
       p {
           text-align: center;
       }       
    }
    .arrow-left-thumb {
        .thumbnail {
            span {
                top: 135px;
            }
        }
    }
    .arrow-right-thumb {
        .thumbnail {
            span {
                top: 135px;
            }
        }
    }
}

.button {
    display: inline-block;
    border: 1px solid $lightergray;
    color: $lightgray;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-secondary;
    margin: 1.5em auto;
    padding: .5em 1.3em;
    i {
        font-size: 1.5rem;
        margin-left: 8px;
        position: relative;
        top: 2px;
        color: $lightergray;
    }
}